<div class="modal fade" id="prouploadmodal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload Project</h5>
          <button type="button" class="btn-close" id="btnclose1" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <div class="card-body">
  <h5 class="card-title">Upload Project</h5>

  <!-- Vertical Form -->
  <form class="row g-3" id="" method="post">
    {% csrf_token %}
    
    <div class="col-12">
      <label for="inputNanme4" class="form-label"> FIle</label>
      <input type="text" class="form-control" id="" name="" >
    </div>

     
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="Closebtn2">Close</button>
          <button type="submit" id="" class="btn btn-primary">Upload</button>
        </div>
  </form><!-- Vertical Form -->

          </div>
        </div>

      </div>
    </div>
  </div><!-- End Basic Modal-->